@model FiveMinute.ViewModels.AccountViewModels.UserDetailViewModel

<h1>Данные о пользователе @Model.UserName</h1>
<p>Пользовательское имя: @Model.UserName</p>
<p>Почта: @Model.Email</p>

<!-- Вкладки -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#fiveMinuteTemplates">Пятиминутки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#fiveMinuteTests">Другой раздел</a>
    </li>
</ul>

<div class="tab-content">
    <div id="fiveMinuteTemplates" class="tab-pane fade show active">
        <h3>Пятиминутки:</h3>
        @if (Model.UserRole == "teacher" || Model.UserRole == "admin")
        {
            if (Model.FMTs is not null && Model.FMTs.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Show In Profile</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in Model.FMTs)
                        {
                            if (Model.IsOwner || test.ShowInProfile && !Model.IsOwner)
                            {
                                <tr>
                                    <td>@test.Id</td>
                                    <td>@test.Name</td>
                                    <td>@test.ShowInProfile</td>
                                    <td>
                                        @if (Model.IsOwner)
                                        {
                                            <a asp-action="Edit" asp-controller="FiveMinuteTemplate" asp-route-Id="@test.Id" class="btn btn-primary">Edit</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Copy" asp-controller="FiveMinuteTemplate" asp-route-fiveMinuteId="@test.Id" class="btn btn-primary">Copy</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Пока тут пусто. Создайте новую!</p>
            }
        }
        else if (Model.UserRole == "Student")
        {
            <p>Привет, студент @Model.UserName! У вас пока нет доступных тестов.</p>
        }
        <a class="btn btn-secondary" asp-area="" asp-controller="FiveMinuteTemplate" asp-action="Create">Создать пятиминутку</a>
    </div>

    <div id="fiveMinuteTests" class="tab-pane fade">
        <h3>Все тесты</h3>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Show In Profile</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>
                    <td>@test.Id</td>
                    <td>@test.Name</td>
                    <td>
                        <a asp-action="Edit" asp-controller="FiveMinuteTest" asp-route-testId="@test.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-area="" asp-route-testId="@test.Id" asp-controller="FiveMinuteTest" asp-action="Pass">Прохождение теста</a>
                        <a class="btn btn-info" asp-area="" asp-route-testId="@test.Id" asp-controller="FiveMinuteTest" asp-action="Statistics">Статистика</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a class="btn btn-secondary" asp-area="" asp-controller="FiveMinuteTest" asp-action="Create">Создать тест</a>
    </div>
</div>

<!-- Подключение Bootstrap CSS и JS для работы вкладок -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>