@model FiveMinute.ViewModels.AccountViewModels.UserDetailViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
	var currentUser = await UserManager.GetUserAsync(User);
	bool isStudent = currentUser != null && currentUser.UserRole == "student";
}

<div class="container pt-2">
	<div class="row">
		@if (!isStudent)
		{
			<div class="col-md pt-1">
				<h3>Пройденые тесты</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Название</th>
							<th>Время прохождения</th>
							<th>Результат</th>
							<th>Действия</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var result in Model.PassedTestResults)
						{
							<tr>
								<td>@result.FMTestName</td>
								<td>@result.PassTime</td>
								<td>0</td>
								<td>
									<a asp-action="FiveMinuteResult" asp-controller="FiveMinuteTest" asp-route-resultId="@result.Id" class="btn btn-primary">Подробнее</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		<div class="col-md">
			<h3>Данные профиля</h3>
			<form asp-action="EditUser" asp-controller="Account" method="post">
				<div class="profile-container p-2">
					<div class="form-group">
						<label for="FirstName">Имя</label>
						<input type="text" id="FirstName" name="FirstName" value="@Model.UserData.FirstName" class="form-control" />
					</div>

					<div class="form-group">
						<label for="LastName">Фамилия</label>
						<input type="text" id="LastName" name="LastName" value="@Model.UserData.LastName" class="form-control" />
					</div>
					@if (isStudent)
					{
						<div class="form-group">
							<label for="Group">Группа</label>
							<input type="text" id="Group" name="Group" value="@Model.UserData.Group" class="form-control" />
						</div>
					}
					<div class="form-group">
						<label for="Email">Эл. почта</label>
						<input type="email" id="Email" name="Email" value="@Model.Email" class="form-control" />
					</div>

					<button type="submit" class="btn btn-primary mt-2">Сохранить изменения</button>
				</div>
			</form>
			@if (isStudent)
			{
				<p class="alert-info">Обращем внимание, что введённые вами имя, фамилия и группа будут автоматический отправляться преподавателю при прохождении теста. Убедитьесь, что данные введены корректно.</p>
			}
			else
			{
				<p class="alert-info">Обращем внимание, что введённые вами имя, фамилия будут отображены студентам. Убедитьесь, что данные введены корректно.</p>
			}
		</div>
	</div>
</div>