@using FiveMinute.Data
@model ICollection<FiveMinute.ViewModels.FiveMinuteTestViewModels.FMTestIndexViewModel>

@{
    string GetStatusClass(TestStatus status)
    {
        return status switch
        {
            TestStatus.Planned => "bg-warning",
            TestStatus.Started => "bg-primary",
            TestStatus.InRechekingProcess => "bg-brown",
            TestStatus.Completed => "bg-success",
            TestStatus.Cancelled => "bg-danger",
            _ => "bg-light"
        };
    }

    string ConvertEnumToString(TestStatus status)
    {
        return status switch
        {
            TestStatus.Planned => "Запланирована",
            TestStatus.Started => "Начата",
            TestStatus.InRechekingProcess => "Требует проверки",
            TestStatus.Completed => "Завершена",
            TestStatus.Cancelled => "Отменена",
            _ => "Неизвестный статус"
        };
    }
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Прикрепленная пятиминутка</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var test in Model)
            {
                <tr>
                    <td>@test.Id</td>
                    <td>@test.Name</td>
                    <td>
                        <span class="badge @GetStatusClass(test.Status) text-white">
                            @ConvertEnumToString(test.Status)
                        </span>
                    </td>
                    <td>@test.AttachedFMTemplateName</td>
                    <td>
                        <a asp-action="Edit" asp-controller="FiveMinuteTest" asp-route-testId="@test.Id" class="btn btn-primary">Edit(DEPRICATED)</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-area="" asp-route-testId="@test.Id" asp-controller="FiveMinuteTest" asp-action="Pass">Прохождение теста(DEPRICATED)</a>
                        <a class="btn btn-info" asp-area="" asp-route-testId="@test.Id" asp-controller="FiveMinuteStatistics" asp-action="ShowResults">Статистика(DEPRICATED)</a>
                        <a class="btn btn-info" asp-area="" asp-route-testId="@test.Id" asp-controller="FiveMinuteTest" asp-action="Detail">Подробнее</a>
                        
                        <button class="btn btn-danger confirm-delete-button"
                                data-delete-url="@Url.Action("DeleteTest", "Home")"
                                data-id="@test.Id">
                            Удалить
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Пока тут пусто. Создайте новую!</p>
}
