@{
    ViewData["Title"] = "Статистика по пятиминутке";
}

@model FiveMinute.ViewModels.FiveMinuteResultsViewModel

<div class="container test-area">
    <h1>@ViewData["Title"]</h1>
    <h6>Всего прохождений: @Model.Results.Count</h6>
    <form asp-action="ShowResults" asp-controller="FiveMinuteStatistics" method="post">
        @{ var questionNumber = 0; }
        @foreach (var result in Model.Results)
        {
            var answersDict = new Dictionary<int, List<UserAnswer>>();
            foreach (var answer in result.Answers)
            {
                answersDict.TryAdd(answer.QuestionPosition, new List<UserAnswer>());
                answersDict[answer.QuestionPosition].Add(answer);
            }
            <table>
                <caption>
                    <div>Id пользователя: @result.UserId</div>
                    <div>Имя пользователя: @result.UserName</div>
                    <div>Время прохождения: @result.PassTime</div>
                    <div>Всего баллов: @answersDict.Values.SelectMany(x => x).Sum(x => x.IsCorrect ? 1: 0)</div>
                    <a asp-action="FiveMinuteResult" asp-route-resultId="@result.Id">Подробнее</a>
                </caption>
                <tr>
                    <th>Вопрос</th>
                    @foreach(var number in answersDict.Keys.Order())
                    {
                        var someAnswer = answersDict[number].FirstOrDefault();
                        <td>@someAnswer?.QuestionPosition .@someAnswer?.QuestionText</td>
                    }
                    
                </tr>
                <tr>
                    <th>Ответ</th>
                    @foreach (var number in answersDict.Keys.Order())
                    {
                        <td>@string.Join(';',answersDict[number].Select(x => x.Text).Where(x => x!=""))</td>
                    }
                    @* <td>@answersDict.Values.Sum()</td> *@

                </tr>
                <tr>
                    <th>Балл</th>
                    @foreach (var number in answersDict.Keys.Order())
                    {
                        <td>@answersDict[number].Sum(x => x.IsCorrect ? 1: 0)</td>
                    }
                </tr>
            </table>

            @* <h6>Имя пользователя: @result.UserName</h6> *@
            @* <h6>ID пользователя: @result.UserId</h6> *@
            @* <h6>Правильные ответы: @correctAnswers</h6> *@
            @* <h6>Время прохождения: @result.PassTime</h6> *@
            @* <p>-</p> *@
        }
    </form>
</div>
<style>
        table {
            border-collapse: collapse;
            width: 100%;
            max-width: 600px;
            margin: 20px 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
            width: 30%;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        caption {
            font-weight: bold;
            margin-bottom: 10px;
        }
</style>